<main>
  <nav>
    <a href="/" >
      <i class="uil uil-arrow-left back"></i>
    </a>
    <i class="uil uil-moon toggle-btn"></i>
  </nav>
  <div class="container">
    <div class="more">
      <h1 class="skeleton">All products</h1>
    </div>
    <div class="products">
      <div class="skeleton">
        <img src="assets/Gefansa -  166.jpg" alt="">
      </div>
      <div class="skeleton">
        <img src="assets/Gefansa -  350.jpg" alt="">
      </div>
      <div class="skeleton">
        <img src="assets/Gefansa -  384.jpg" alt="">
      </div>
      <div class="skeleton">
        <img src="assets/Gefansa -  314.jpg" alt="">
      </div>
      <div class="skeleton">
        <img src="assets/Gefansa -  398.jpg" alt="">
      </div>
      <div class="skeleton">
        <img src="assets/Gefansa -  391.jpg" alt="">
      </div>
      <div class="skeleton">
        <img src="assets/Gefansa -  372.jpg" alt="">
      </div>
      <div class="skeleton">
        <img src="assets/Gefansa -  298.jpg" alt="">
      </div>
      <div class="skeleton">
        <img src="assets/Gefansa -  12.jpg" alt="">
      </div>
      <div class="skeleton">
        <img src="assets/Gefansa -  276.jpg" alt="">
      </div>
      <div class="skeleton">
        <img src="assets/Gefansa -  170.jpg" alt="">
      </div>
      <div class="skeleton">
        <img src="assets/Gefansa -  186.jpg" alt="">
      </div>
      <div class="skeleton">
        <img src="assets/Gefansa -  79.jpg" alt="">
      </div>
      <div class="skeleton">
        <img src="assets/Gefansa -  249.jpg" alt="">
      </div>
    </div>
  </div>
  <a class="scrollBtn">
    <i class="uil uil-arrow-up"></i>
  </a>
</main>