<main>
  <nav>
    <a href="/" >
      <i class="uil uil-arrow-left back"></i>
    </a>
    <i class="uil uil-moon toggle-btn"></i>
  </nav>
  <div class="container">
    <div class="prd">
      <div class="overlay"></div>
      <div class="modal">
        <div class="modal-overlay"></div>
        <div class="slider-wrap">
          <div class="images">
            <img src="assets/Gefansa -  166.jpg" alt="" class="showImage">
            <img src="assets/Gefansa -  350.jpg" alt="">
            <img src="assets/Gefansa -  384.jpg" alt="">
            <img src="assets/Gefansa -  314.jpg" alt="">
            <img src="assets/Gefansa -  398.jpg" alt="">
            <img src="assets/Gefansa -  391.jpg" alt="">
            <img src="assets/Gefansa -  372.jpg" alt="">
            <img src="assets/Gefansa -  298.jpg" alt="">
            <img src="assets/Gefansa -  12.jpg" alt="">
            <img src="assets/Gefansa -  276.jpg" alt="">
            <img src="assets/Gefansa -  170.jpg" alt="">
            <img src="assets/Gefansa -  186.jpg" alt="">
            <img src="assets/Gefansa -  79.jpg" alt="">
            <img src="assets/Gefansa -  249.jpg" alt="">
            <img src="assets/Gefansa -  01.jpg" alt="">
            <img src="assets/Gefansa -  117.jpg" alt="">
            <img src="assets/Gefansa -  231.jpg" alt="">
            <img src="assets/Gefansa -  378.jpg" alt="">
            <img src="assets/Gefansa -  367.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="more">
        <h1 class="skeleton">All products</h1>
      </div>
      <div class="products">
        <div class="skeleton">
          <img class="small-img" src="assets/Gefansa -  166.jpg" alt="">
        </div>
        <div class="skeleton">
          <img class="small-img" src="assets/Gefansa -  350.jpg" alt="">
        </div>
        <div class="skeleton">
          <img class="small-img" src="assets/Gefansa -  384.jpg" alt="">
        </div>
        <div class="skeleton">
          <img class="small-img" src="assets/Gefansa -  314.jpg" alt="">
        </div>
        <div class="large skeleton">
          <img class="small-img" style="height: 280px; width: 100%;" src="assets/Gefansa -  398.jpg" alt="">
        </div>
        <div class="skeleton">
          <img class="small-img" src="assets/Gefansa -  391.jpg" alt="">
        </div>
        <div class="skeleton">
          <img class="small-img" src="assets/Gefansa -  372.jpg" alt="">
        </div>
        <div class="skeleton">
          <img class="small-img" src="assets/Gefansa -  298.jpg" alt="">
        </div>
        <div class="skeleton">
          <img class="small-img" src="assets/Gefansa -  12.jpg" alt="">
        </div>
        <div class="skeleton">
          <img class="small-img" src="assets/Gefansa -  276.jpg" alt="">
        </div>
        <div class="skeleton">
          <img class="small-img" src="assets/Gefansa -  170.jpg" alt="">
        </div>
        <div class="large skeleton">
          <img class="small-img" style="height: 280px; width: 100%;" src="assets/Gefansa -  186.jpg" alt="">
        </div>
        <div class="skeleton">
          <img class="small-img" src="assets/Gefansa -  79.jpg" alt="">
        </div>
        <div class="skeleton">
          <img class="small-img" src="assets/Gefansa -  249.jpg" alt="">
        </div>
        <div class="skeleton">
          <img class="small-img" src="assets/Gefansa -  01.jpg" alt="">
        </div>
        <div class="skeleton">
          <img class="small-img" src="assets/Gefansa -  117.jpg" alt="">
        </div>
        <div class="skeleton">
          <img class="small-img" src="assets/Gefansa -  231.jpg" alt="">
        </div>
        <div class="skeleton">
          <img class="small-img" src="assets/Gefansa -  378.jpg" alt="">
        </div>
        <div class="large skeleton">
          <img class="small-img" style="height: 280px; width: 100%;" src="assets/Gefansa -  367.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
  <a class="scroll scrollBtn">
    <i class="uil uil-arrow-up"></i>
  </a>
</main>